div
  h1 GET IN TOUCH
  .left
    form.contact(action='/query.html')
      input#name(type='text' placeholder='Your Name')
      input#email(type='text' placeholder='Your Email')
      textarea#message(placeholder='Your Message')
      input(type='submit' value='SEND')
  .right
    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing
      | elit. Phasellus faucibus blandit lacus. Nam scelerisque
      | rhoncus tortor ac viverra. Duis interdum nisl ut venenatis
      | finibus. Donec mattis aliquam eros eu maximus.
    h3
      | 1600 Currie St, Adelaide,
      | SA 5000, Australia
    h3
      b T: (08) 8330 5330
      b M: (+61) 0405 007 500
    #socials